.start-screen {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }

    button {
        position: absolute;
        top: 10%;
        background-color: gold;
        font-size: 24px;
        font-weight: bold;
        color: black;
        padding: 16px 24px 16px 24px;
        border-radius: 8px;
        border: 1px solid white;
        box-shadow: 1px 0px 2px 2px rgb(94, 94, 94);

        &:hover {
            cursor: pointer;
            filter: brightness(1.5)
        }
    }
}